<!DOCTYPE html>
<html>
<head>
    <title>Mercadopago </title>
<body>
    valor {{ preference_id}}
   {% comment %} valor:  {{ preference_id}}
   {{ mensaje}} {% endcomment %}
  
<script>
  const preferenceId = "{{ preference_id }}";

  if (preferenceId) {
    const link = document.createElement("a");
    link.href = "https://sandbox.mercadopago.cl/checkout/v1/redirect?pref_id=" + preferenceId;
    link.innerText = "Pagar con Mercado Pago";
    link.style.background = "#009ee3";
    link.style.color = "white";
    link.style.padding = "10px";
    link.style.display = "inline-block";
    link.style.textDecoration = "none";

    document.getElementById("wallet_container").appendChild(link);
  } else {
    console.log("No hay preference_id");
  }
</script>
   <style>
     .boton-mercado {
       display: flex;
       justify-content: center;
       width: 30%;
       margin: 0 auto;
     }
 
     .boton-mercado:hover {
       background-color: #e0e0e0;
     }
   </style>
 
   <div id="wallet_container" class="boton-mercado"></div>

</body>
</html>
